.autosuggest__suggestions {
  box-sizing: border-box;
  border: 1px solid $border-colour;
  position: absolute;
  z-index: 99;

  @include media(tablet) {
    width: 66%;
  }

}

.autosuggest__suggestion {
  @include core-19;
  padding: 0 5px;
  background: $white;

  a {
    text-decoration: none;
    color: $black;
  }

  strong {
    @include bold-19;
  }

  &.autosuggest__suggestion--active {
    background: $light-blue-25;
  }

}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-list {
  box-sizing: border-box;
  border: 1px solid $border-colour;
  position: absolute;
  z-index: 99;

  @include media(tablet) {
    width: 66%;
  }

  .react-autosuggest__suggestion {
    @include core-19;
    padding: 0;
    background: $white;

  }

  .react-autosuggest__suggestion.react-autosuggest__suggestion--focused .autosuggest__suggestion {
    background: $light-blue-25;
  }
}


.autosuggest__container {
  position: relative;

  .autosuggest__suggestions {
    box-sizing: border-box;
    border: 1px solid $border-colour;
    position: absolute;
    z-index: 99;

    @include media(tablet) {
      width: 66%;
    }
  }

  .autosuggest__suggestion {
    @include core-19;
    padding: 0 5px;
    background: $white;


    a {
      text-decoration: none;
      color: $black;
      display: block;
      cursor: pointer;
    }

    strong {
      @include bold-19;
    }

    &.autosuggest__suggestion--active,
    &:hover {
      background: $light-blue-25;
    }
  }

}
