{% if company.id %}
  <div class="grid-row">
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge data__title">{{ timeSinceNewContact.amount }}</h2>
        <p class="bold-xsmall data__description">{{ timeSinceNewContact.unit }} since last new contact entry</p>
      </div>
    </div>
    <div class="column-one-third">
      <div class="data">
        <h2 id="added-count" class="bold-xlarge data__title">{{ contactsInLastYear.length }}</h2>
        <p class="bold-xsmall data__description">contacts added in the last 12 months</p>
      </div>
    </div>
    <div class="column-one-third">
      <p class="actions">
        {% if not company.archived %}
          <a class="button button-secondary" href="/contact/add?company_id={{ company.id }}">Add new contact</a>
        {% else %}
          <a class="button button-disabled">Add new contact</a>
        {% endif %}
      </p>
    </div>
  </div>
  <div id="contact-table-wrapper"></div>
  <br/><br/>
  <div id="archived-section">
    <h3 class="heading-small">Archived contacts</h3>
    <div id="archived-contact-table-wrapper"></div>
  </div>

{% endif %}

