<form
  class="js-searchbar searchbar{% if searchbarType %} searchbar--{{searchbarType}}{% endif %}"
  action="/search"
  method="get"
  role="search">
  <div class="searchbar__wrapper">
    <label class="searchbar__label" for="search-main">Search for company name or contact</label>
    <input class="searchbar__input form-control"
      type="search"
      id="search-main"
      name="query"
      value="{% if not searchbarType or searchbarType == '' %}{{query}}{% endif %}"
    />
    <input class="searchbar__submit" type="submit" value="Search" />
  </div>
</form>
