.add-new-lead-button {
  float: right;
  margin-bottom: 1em;
  margin-top: -0.75em;
}

.leads-heading {
  margin: 0.75em 0 0.75em 0;
}

.no-leads {
  background: $grey-3;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  clear: both;
  margin-top: 4em;
}

.none {
  color: $grey-2;
}

.view-lead-table {

  border-top: 1px solid $grey-2;
  margin-bottom: 3em;

  td:first-of-type {
    width: 25%;
  }
}

.button-bar {

  .button {
    margin-right: 0.5em;
  }

  .text-link {
    line-height: 2.2;
    margin-left: 1em;
  }
}
