.back-link {
  display: inline-block;
  padding-left: 20px;
  position: relative;
  margin: em(20) 0 0;

  &::before {
    content: '<';
    left: 0;
    position: absolute;
  }

}

#content {
  min-height: 600px;
}

.data {
  .data__description {
    padding-right: 20%;
  }
}


.heading-xlarge {
  margin-top: 0.625em;
  margin-bottom: 1.25em;
}

.lede {
  margin-bottom: 60px;
}

strong {
  @include bold-19;
}

hr {
  clear: both;
  width: 100%;
}

.indented-info {
  @extend %contain-floats;
  clear: both;
  padding: 5px 0 10px 10px;
  border-left: 5px solid $border-colour;
  margin: 0 0 30px 0;
}

.indented-info.error {
  border-left: 5px solid $error-colour;

  .error {
    border-left: 0;
    padding-left: 0;
  }
}

.table-detail.table-detail--compact {
  margin-bottom: 0;
}

.add-another-button {
  @include core-19();
  background-color: $white;
  border: 0;
  color: $link-colour;
  cursor: pointer;
  text-decoration: underline;
}

.fieldset--address {
  margin-bottom: 40px;
}

.contact-interactions .interaction-table .contact {
  display: none;
}

.saving {
  @include bold-24();
  margin-top: 40px;
}
