table.data-table thead tr {
  th {
    cursor: pointer;

    &.desc {
      &::after {
        content: '\00a0\00a0\25BC';
      }
    }

    &.asc {
      &::after {
        content: '\00a0\00a0\25B2';
      }
    }
  }
}

table.contact-table {

  .creationdate {
    width: 10%;
    white-space: nowrap;
  }

  .name {
    width: 20%;
  }

  .title {
    width: 25%;
  }

  .phone {
    width: 20%;
  }

  .email {
    width: 25%;
  }
}

table.interaction-table {

  .date {
    width: 10%;
    white-space: nowrap;
  }

  .type {
    width: 15%;
  }

  .advisor {
    width: 25%;
  }

  .contact {
    width: 25%;
  }

  .subject {
    width: 25%;
  }
}
