{% extends "layouts/ukti.html" %}
{% import "macros/search.html" as search %}

{% block main %}
<a class="back-link" href='/'>Back to homepage</a>
{{ search.searchbar('term', label="Search companies and contacts", value=result.term) }}

<div class="grid-row">
  <div class="column-two-thirds">
    {% include "search/results.html" %}
  </div>
  <div class="column-one-third">
    <div class="button-bar button-bar--top">
      <a
        class="button button-secondary"
        href="/company/add">
        Add new company
      </a>
    </div>
  </div>

</div>
<div class="grid-row">
  <div class="column-full">
    {% include "search/pagination.html" %}
  </div>
</div>
{% endblock %}
