{% extends "../layouts/ukti.html" %}

{% block main %}

  <a class="back-link" href='/'>Back to homepage</a>
  {% include "../components/searchbar.html" %}

  <div class="grid-row">
    <div class="column-one-third">
      <div class="filters">
        &nbsp;
      </div>
    </div>
    <div class="column-two-thirds">
      <div class="result-summary">
        <span class="heading-large">{{totalResults}}</span> results found containing <strong>{{query}}</strong>
      </div>
      <ol class="results-list">
        {% for result in results %}
          {% if result.type == 'CONTACT' %}
            {% include "./searchresult-contact.html" %}
          {% else %}
            {% include "./searchresult-company.html" %}
          {%  endif %}
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
