<li class="results-list__result">
  <h3>
    <a href='/companies/{{result.company_number}}?query={{query}}'>
      {{result.title | capitalize | highlight(query) | safe }}
    </a>
  </h3>
  <div class="meta meta--ch">{{result.description}}</div>
  <div class="meta meta--address">
    {{result.address.address_line_1}},
    {{result.address.address_line_2}},
    {{result.address.locality}},
    {{result.address.postal_code}}
    {{result.contacts[0].givenname}} {{result.contacts[0].surname}}
  </div>
</li>
