$pagination-spacing: 10px;

.pager-summary {
  @include media('>tablet') {
    float: left;
  }
}

.pager-controls {
  @include media('>tablet') {
    float: right;
  }
}

.pager-items {
  margin: 0;
  padding: 0;
  display: inline;

  li {
    display: inline;
    margin: 0 0 0 $pagination-spacing;
  }

  .is-selected {
    cursor: default;
    color: $black;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover {
      color: $black;
    }
  }
}

.pager-next {
  margin-left: 10px;
}
