.profile {

  header {
    padding-left: 20%;
    .heading {
      padding-left: 16px;
      font-size: 40px;
      margin: .33em 0;

      .label {

        padding: 3px 5px 0 5px;
        border: 2px solid;
        margin: 52px 0 0 20px;
        font-weight: normal;
        position: relative;
        bottom: 5px;
        font-size: 14px;

        &.label-primary {
          color: $turquoise;
          border: 2px solid $turquoise;
        }
      }
    }
  }

}
