$summary-shadow: #ccc;

.summary {
  border-top: 1px solid $summary-shadow;
  border-bottom: 1px solid $summary-shadow;
  box-shadow: 0 5px 0 lighten($grey-3, 5), 0 -5px 0 lighten($grey-3, 5);
  margin: 20px 0;
  padding: 20px 0;

  h1 {
    margin: 0;

    span {
      display: inline-block;
    }
  }

  .column-two-thirds {
    @include media('>tablet') {
      padding: 20px 15px;
      margin: -20px -4px -20px 0;
      border-right: 4px solid lighten($grey-3, 5);
    }
  }

  .get-started {
    @include media('>tablet') {
      padding: 20px;
      margin: -20px 0;
      border-left: 4px solid lighten($grey-3, 5);
    }
  }
}
