.table-list {
  border-top: 1px solid $grey-2;
  animation: reveal 800ms;

  th,
  td {
    vertical-align: top;
    padding: 10px 14px;
  }

  thead th {
    white-space: nowrap;
  }

  tbody {
    td:nth-child(2) {
      width: 18%;
    }

    td:nth-child(3) {
      width: 25%;
    }

    td:nth-child(4) {
      width: 18%;
    }
  }

  .footer-container {
    border: 0;
    padding: 20px 0;
    text-align: right;
  }
}

.table-list-actions {
  @include media('>tablet') {
    float: right;
  }
}
