// All components
@import 'govuk';

// Individual components
// @import 'govuk/fonts';
// @import 'govuk/base';
// @import 'govuk/typography';
// @import 'govuk/layout';
//
// @import 'govuk/elements/global-header';
// @import 'govuk/elements/global-subheader';
// @import 'govuk/elements/global-footer';
// @import 'govuk/elements/phase-banner';
// @import 'govuk/elements/table';
// @import 'govuk/elements/data';
// @import 'govuk/elements/breadcrumbs';
// @import 'govuk/elements/panel-indent';
// @import 'govuk/elements/details';
// @import 'govuk/elements/buttons';
// @import 'govuk/elements/global-cookie-message';
// @import 'govuk/elements/forms/form-control';
//
// @import 'govuk/utilities';
