extends ukti

block content
  a.back-link(href='/search/companies?query=#{query}') Back to company search
  h1= company.company_name
  .tabs.tabs--inline.js-tabs
    .tabs-nav
      .tabs-list
        li
          a.is-selected(href='#tab-1') Details
        li
          a(href='#tab-2') Contacts
        li
          a(href='#tab-3') Interactions
    .tabs-content
      .tabs-panel#tab-1
        .tabs-panel-inner.text
          include includes/company-details
      .tabs-panel#tab-2
        .tabs-panel-inner.text
          include includes/company-contacts
      .tabs-panel#tab-3
        .tabs-panel-inner.text
          include includes/company-interactions
