extends layouts/ukti

block content
  a.back-link(href='/') Back to homepage
  include searchbar
  if query
    .tabs.tabs--inline
      .tabs-nav
        .tabs-list
          li
            a(href='/search/companies?query=#{query}', class=kind === 'companies' ? 'is-selected' : '') Companies
          li
            a(href='/search/contacts?query=#{query}', class=kind === 'contacts' ? 'is-selected' : '') Contacts
      .tabs-content
        .tabs-panel#tab-1
          .tabs-panel-inner.text
            if total_results > 0
              if kind === 'companies'
                p.actions
                  a.button.button-secondary(href="#") Add new company
              ol.results-list
                each item in items
                  if item.kind === "searchresults#officer"
                    include searchresultcontact
                  else
                    include searchresultcompany
            else
              h3 No results found
              p Please try:
              ul
                li searching again using different words
                li removing any filters
