extends ukti

block content

  include searchbar

  if query
    .tabs.tabs--inline
      .tabs-nav
        .tabs-list
          li
            a(href='/search/companies?query=#{query}', class=kind === 'companies' ? 'is-selected' : '') Companies
          li
            a(href='/search/contacts?query=#{query}', class=kind === 'contacts' ? 'is-selected' : '') Contacts

      .tabs-content
        .tabs-panel#tab-1
          .tabs-panel-inner.text
            if total_results > 0
              ol.results-list
                each item in items
                  if item.kind === "searchresults#officer"
                    include searchresultcontact
                  else
                    include searchresultcompany
            else
              p No results matching your search
