form.searchbar(action="/search/companies", method="get", role="search")
  .searchbar-content
    label.searchbar-label(for="search-main") Search for company
    input#search-main.searchbar-main.form-control(type="search", name="q", autocomplete="off")
    input.searchbar-submit(type="submit", value="Search")
