{% extends "layouts/ukti.html" %}
{% import "macros/forms.html" as forms %}

{% block main %}

  <a href="/leads" class="back-link">Back to my leads</a>

  {{ forms.errorPanel( errors ) }}

  <h2 class="bold-xlarge leads-heading">
    {% if edit %}
      Edit lead
    {% else %}
      Add new lead
    {% endif %}
  </h2>

  <form action="{{ action }}" method="post">

    {% if lead.id %}
      <input type="hidden" name="id" value="{{ lead.id }}">
    {% endif %}

    {{ forms.textbox('first_name', label="First name", value=lead.first_name, error=errors.firstName) }}

    {{ forms.textbox('last_name', label="Last name", value=lead.last_name, error=errors.lastName) }}

    {{ forms.textbox('phone', label="Phone (optional)", value=lead.phone, error=errors.phone) }}

    {{ forms.textbox('email', label="Email (optional)", value=lead.email, error=errors.email) }}

    {{ forms.textarea('notes', label="Notes (optional)", value=lead.notes, error=errors.notes) }}

    {{ forms.save(backUrl=backUrl) }}

  </form>

{% endblock %}
