{% extends "layouts/ukti.html" %}
{% import "macros/forms.html" as forms %}

{% block main %}

  <a href="/leads" class="back-link">Back to my leads</a>

  {{ forms.errorPanel( errors ) }}

  <h2 class="bold-xlarge leads-heading add-lead-heading">Add new lead</h2>

  <form action="/leads/add" method="post">

    {{ forms.textbox('first_name', label="First name", value=lead.first_name, error=errors.firstName) }}

    {{ forms.textbox('last_name', label="Last name", value=lead.last_name, error=errors.lastName) }}

    {{ forms.textbox('phone', label="Phone (optional)", value=lead.phone, error=errors.phone) }}

    {{ forms.textbox('email', label="Email (optional)", value=lead.email, error=errors.email) }}

    {{ forms.textarea('notes', label="Notes (optional)", value=lead.notes, error=errors.notes) }}

    {{ forms.save(backUrl='/leads') }}

  </form>

{% endblock %}
