{% extends "layouts/ukti.html" %}

{% block main %}

  <h2 class="leads-heading bold-xlarge">My Leads</h2>

  <a href="/leads/add" class="button button-secondary add-new-lead-button">Add new lead</a>

  {% if leads and leads.length %}

	<table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for lead in leads %}
      <tr>
        <td>{{ lead.date | date("DD.MM.YYYY") }}</td>
        <td><a href="/leads/view/{{ lead.id }}">{{ lead.name }}</a></td>
        <td>{{ lead.phone }}</td>
        <td><a href="#">{{ lead.email }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}

    <p class="no-leads">You haven't added any leads yet.</p>

  {% endif %}

{% endblock %}
