.form-group.form-group--compact {
  margin-bottom: 10px;
}

.form-control {

  + p {
    margin-top: em(5);
  }

  + .form-control {
    display: block;
    margin-top: em(10);
  }

  @include media(tablet) {
    width: 66%;
  }
}

.fieldset-group {
  margin: 20px 0 40px 0;
  float: left;
  width: 100%;

  .form-group {
    .form-label {
      display: none;
    }

    &:first-child {
      .form-label {
        display: block;
      }
    }
  }
}

.form-group__checkbox-group {
  .form-label {
    margin-bottom: 3px;
  }
}
