.table-detail {

  margin-bottom: em(22);

  tbody {
    th {
      vertical-align: top;
      white-space: nowrap;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.table-detail--readonly {

  margin-top: 20px;
  border-left: 10px solid $grey-2;

  tbody {


    tr {
      td, th {
        border-bottom: 0;
        color: $grey-1;
      }

      &:nth-child(even) {
        td, th {
          background: $white;
        }
      }
    }

    tr.table-detail--readonly__section  {
      td, th {
        border-bottom: 1px solid $grey-2;
      }
      td.spacer {
        border-bottom: 0;
      }

      &:last-child {
        td, th {
          border-bottom: 0;
        }
      }
    }
  }
}

.record-title {
  position: relative;
}
