mixin searchbar(location)
  form(class="searchbar searchbar--#{location}", action="/search/#{kind || 'companies'}", method="get", role="search")
    .searchbar-content
      input.searchbar-main.form-control(type="search", id="search-main-#{location}", name="query", autocomplete="off", value=location !== 'header' ? (query || '') : '', placeholder="Search for company name or contact")
      input.searchbar-submit(type="submit", value="Search")
