.griddle thead th {
  cursor: pointer;
}

.griddle-filter {
  margin: 20px 0;

  .form-control {
    border-color: $grey-2;
    width: 100%;

    @include media('>tablet') {
      width: 50%;
    }
  }
}
