.interactions {
  list-style: none;
  margin: 0;
  padding: 0;
}

.interaction {
  @include clearfix;
  display: block;
  border: 1px solid $border-colour;
  padding: 15px 15px 12px;
  margin-bottom: 15px;
  position: relative;
  color: $text-colour;
  text-decoration: none;
  box-shadow: 1px 1px 2px $grey-3;

  &:link,
  &:visited {
    color: $text-colour;
  }

  .interaction-heading {
    font-size: em(24);
    margin-top: 0;
    margin-bottom: 1em;
  }

  .interaction-date {
    font-size: em(24);
    font-weight: 700;
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
  }

  .interaction-type {
    font-weight: 700;
    line-height: 1em;
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 0;
  }

  .interaction-meta {
    margin: 0;
  }
}
