.results-list {
  list-style: none;
  margin: 0;
  padding: em(30) 0 0;

  li {
    margin: em(30) 0 0;

    h3 {
      font-size: em(23);
      font-weight: 400;
      margin: 0 0 em(5);
      padding: 0;
    }

    .meta {
      margin: 0;
    }
  }
}
