.searchbar {

  .searchbar-content {
    position: relative;
    background: $white;
    margin: 30px 0 60px 0;

    @include media('<tablet') {
      margin: 10px 0 20px 0;
    }
  }

  .searchbar-label {
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 1;
    width: 100%;
    margin-right: 0;
    color: $secondary-text-colour;
    line-height: 50px;
    text-indent: 15px;
  }

  .searchbar-main {
    font-size: em(19);
    width: calc(100% - 47px);
    padding: 6px;
    margin: 0;
    z-index: 3;
    background: transparent;
    position: relative;
    border-right: none;
    line-height: 34px;
    border-radius: 0;
    -webkit-appearance: none;
  }

  .searchbar-submit {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: none;
    text-indent: -5000px;
    color: $white;
    cursor: pointer;
    background: $govuk-blue url('/images/search-button.png') no-repeat 8px 50%;
    border-radius: 0;

    @include media('<=tablet') {
      width: 47px;
      height: 50px;
      background-position-x: 6px;

    }



  }


  &.searchbar--state-hidelabel .searchbar-label {
    display: none;
  }

}
