// Fix secondary button styling when using as link
.button-secondary {
  &:link,
  &:visited {
    background-color: $grey-2;
    color: $black;
  }
}

.compact-heading {
  margin-bottom: em(40, 48);
  margin-top: em(30, 48);
}

.actions {
  margin: em(20) 0;
  text-align: right;
}

.back-link {
  display: inline-block;
  margin: em(20) 0 0;
  padding-left: 20px;
  position: relative;

  &::before {
    content: '<';
    left: 0;
    position: absolute;
  }
}
