// Fix secondary button styling when using as link
.button-secondary {
  &:link,
  &:visited {
    background-color: $grey-2;
    color: $black;
  }
}

.compact-heading {
  margin-bottom: em(40, 48);
  margin-top: em(30, 48);
}

.actions {
  margin: em(20) 0;

  @include media('>tablet') {
    text-align: right;
  }
}

.u-align-right {
  text-align: right;
}


.back-link {
  display: inline-block;
  padding-left: 20px;
  position: relative;

  &::before {
    content: '<';
    left: 0;
    position: absolute;
  }

  @include media($gt-big-phone) {
    margin: em(20) 0 0;
  }

}

.hidden {
  display: none;
}

.form-group--compact + .form-group--compact {
  margin-top: em(8);
}

.fieldset-group {
  margin-top: em(22);
  float: left;
  width: 100%;

  .form-group {
    .form-label {
      display: none;
    }

    &:first-child {
      .form-label {
        display: block;
      }
    }
  }
}

.data-smaller {
  padding-top: em(20);
}

.global-header .header-proposition {
  float: none;
}
