{% import "macros/forms.html" as forms %}
<form method="post">

  <input type="hidden" name="id" value="{{ company.id }}"/>

  {% if not company.company_number or company.company_number.length == 0%}
    {{ forms.textbox('name',
      label="Company name",
      value=formData.name,
      error=errors.name)
    }}

    {{ forms.dropdown('business_type',
      label="Type of business",
      emptyLabel="Select a value",
      value=formData.business_type.id,
      options=TYPES_OF_BUSINESS,
      error=errors.business_type)
    }}

  {% else %}
    {{ forms.textbox('name',
    label="Trading name (optional)",
    hint="Provide the name the company trades as if this differs from it’s registered name.",
      value=formData.name,
      error=errors.name)
    }}
    <input type="hidden" name="company_number" value="{{ company.ch.company_number }}"/>
  {% endif %}

  {{ forms.dropdown('sector',
    label="Sector",
    emptyLabel="Select sector",
    value=formData.sector.id,
    options=SECTOR_OPTIONS,
    error=errors.sector)
  }}

  {% if not company.company_number or company.comany_number.length == 0 %}
    {{ forms.address(
      'address',
      label="Company address",
      addressValue=formData.address,
      optionalNonUk='yes',
      optional='yes',
      error=errors.address)
    }}
  {% else %}
    {% if formData.address and formData.address.country and formData.address.country.length > 0 or errors.address %}
      {% set useCompaniesHouseAddress = 'No' %}
    {% else %}
      {% set useCompaniesHouseAddress = 'Yes' %}
    {% endif %}

    {% call forms.yesNoHidden('useCompaniesHouseAddress', label="Is the trading address the same as the registered office address?", radioValue=useCompaniesHouseAddress, revealFor="No") -%}
    {{ forms.address(
      'address',
      label="Trading address",
      addressValue=formData.address,
      optionalNonUk='yes',
      optional='yes',
      error=errors.address)
    }}
    {%- endcall %}
  {% endif %}

  {{ forms.dropdown('uk_region',
    label="Region",
    emptyLabel="Select a region",
    value=formData.uk_region.id,
    options=REGION_OPTIONS,
    error=errors.uk_region)
  }}

  <hr/>

  {{ forms.textbox('website', label="Website (optional)", value=formData.website, error=errors.website) }}
  {{ forms.textarea('description', label="Business description (optional)", value=formData.description, error=errors.description) }}

  {{ forms.dropdown('employee_range',
    label="Number of employees (optional)",
    emptyLabel="Select a value",
    value=formData.employee_range.id,
    options=EMPLOYEE_OPTIONS,
    error=errors.employee_range)
  }}

  {{ forms.dropdown('turnover_range',
    label="Annual turnover (optional)",
    emptyLabel="Select a value",
    value=formData.turnover_range.id,
    options=TURNOVER_OPTIONS,
    error=errors.turnover_range)
  }}

  {% if formData.account_manager and formData.account_manager.length > 0 or errors.account_manager %}
    {% set hasManager = 'Yes' %}
  {% else %}
    {% set hasManager = 'No' %}
  {% endif %}
  {% call forms.yesNoHidden('hasAccountManager', label="Is there an agreed DIT account manager for this company?", radioValue=hasManager, error=errors.accountManager) -%}
    {{ forms.autocomplete('account_manager',
      label="Account manager",
      value=formData.account_manager,
      options=ADVISOR_OPTIONS,
      error=errors.account_manager
    ) }}
  {%- endcall %}


  {% if formData.currently_exporting_to and formData.currently_exporting_to.length > 0 or errors.currently_exporting_to %}
    {% set hasExportingMarkets = 'Yes' %}
  {% else %}
    {% set hasExportingMarkets = 'No' %}
  {% endif %}
  {% call forms.yesNoHidden('hasExportingMarkets', label="Is this company curently exporting to a market?", radioValue=hasExportingMarkets, error=errors.currently_exporting_to) -%}
    {{ forms.addAnotherAutocomplete('currently_exporting_to',
      label="Export market",
      addLabel="country",
      values=formData.currently_exporting_to,
      options=countrys,
      error=errors.currently_exporting_to
    ) }}
  {%- endcall %}

  {{ forms.addAnotherAutocomplete('countries_of_interest',
    label="Future countries of interest (optional)",
    addLabel="country",
    values=formData.countries_of_interest,
    options=countrys,
    error=errors.countries_of_interest
  ) }}

  {{ forms.addAnotherAutocomplete('connections',
    label="Company connections (optional)",
    addLabel="company connection",
    values=formData.connections,
    options_url="/api/suggest?query=",
    error=errors.connections
  ) }}

  {{ forms.save(backUrl="#") }}

</form>
