<p class="actions">
  <a class="button button-secondary" href="/companies/{{ company.id }}/contact/add?query={{ query }}">Add new contact</a>
</p>

<ol class="contact-list">
  {% for contact in company.contacts %}
    <li class="contact-list__item">
      <h3 class="contact-list__heading">
        <a href="/companies/{{ company.id }}/contact/view/{{ contact.id}}?query={{ query }}">{{ contact.name }}</a>
        - {{ contact.occupation }}
        {% if contact.primaryContact %}
          <span class="status-badge status-badge--primary-contact">Primary</span>
        {% endif %}
      </h3>
      <div class="grid-row">
        <div class="column-half">
          <p class="contact-list__meta contact-list__meta--inline">Phone: {{ contact.telephonenumber }}</p>
        </div>
        <div class="column-half">
          <p class="contact-list__meta contact-list__meta--inline">Email:
            <a href="mailto:{{ contact.emailaddress }}">{{ contact.emailaddress }}</a>
          </p>
        </div>
      </div>
    </li>
  {% endfor %}
</ol>
