{% extends "../layouts/ukti-search-header.html" %}

{% block main %}
  <a class="back-link" href='/search?query={{query}}'>Back to search</a>

  <h1 class="heading-xlarge record-title">
    {{ company.company_name }}
    {% if company.status  == 'Prospect' %}
      <span class="status-badge status-badge--prospect">Prospect</span>
    {% endif %}
  </h1>

  {% include '../components/errors.html' %}

  <div class="tabs tabs--inline js-tabs">
    <nav class="tabs-nav">
      <ul class="tabs-list">
        <li>
          <a class="is-selected" id="tab-details" href="#tab-content-details">Details</a>
        </li>
        <li>
          <a id="tab-contacts" href="#tab-content-contacts">Contacts</a>
        </li>
        <li>
          <a id="tab-interactions" href="#tab-content-interactions">Interactions</a>
        </li>
      </ul>
    </nav>
    <div class="tabs-content">
      <div id="tab-content-details" class="tabs-panel">
        <div class="tabs-panel-inner">
          {% include "company/company-details.html" %}
        </div>
      </div>
      <div id="tab-content-contacts" class="tabs-panel">
        <div class="tabs-panel-inner">
          {% include "company/company-contacts.html" %}
        </div>
      </div>
      <div id="tab-content-interactions" class="tabs-panel">
        <div class="tabs-panel-inner">
          {% include "company/company-interactions.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
