{% extends "../layouts/ukti-search-header.html" %}
{% import "macros/forms.html" as forms %}

{% block main %}

  {% if referer and referer.indexOf('search') != -1 %}
    <a class="back-link" href="{{ referer }}">Back to search</a>
  {% else %}
    <a class="back-link" href="/">Back to homepage</a>
  {% endif %}
  <h1 class="heading-xlarge record-title">
    {{ title }}
    {% if company.archive_date %}
      <span class="status-badge status-badge--archived">Archived</span>
    {% endif %}
  </h1>

  {{ forms.errorPanel(errors) }}
  {% if company.id %}
    {% if not company.archive_date %}
      <form id="archive-details" class="hidden" action="/company/{{ company.id }}/archive" method="post">
        {{ forms.dropdown('archive_reason',
          label="Reason for archiving company",
          emptyLabel="Select a value",
          value=formData.business_type,
          options=REASONS_FOR_ARCHIVE,
          error=errors.business_type)
        }}

        <div class="button-bar">
          <button class="button button-warning" type="submit">Archive now</button>
          <a id="cancel-archive-button" class="button-link button-cancel js-button-cancel" href="#">Cancel</a>
        </div>
      </form>
    {% else %}
      <p class="indented-info">
        This company has been archived on {{ company.archive_date | formatDate }} by <a href="#">{{ company.archived_by }}</a>.<br/>
        Reason: {{ company.archive_reason }}
      </p>
    {% endif %}
  {% endif %}
  <div class="tabs tabs--inline js-tabs">
    {% if not company.id %}
      <div id="tab-error-contacts" class="tabs-errors">
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            Complete company profile details before adding a new contact
          </h1>
          <p>
            You need to add required details to company profile before adding a new contact
          </p>
          <ul class="error-summary-list">
            <li>
              <!-- Add way to link to the edit form -->
              <a href="#">Add company details</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="tab-error-interactions" class="tabs-errors">
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            Add related company contacts before adding a new interaction
          </h1>
          <p>
            You need to add the related contacts from the company under contacts section before
            adding a new interaction
          </p>
          <ul class="error-summary-list">
            <li>
              <a href="/contact/add?company_id={{ company.id }}">Add new contact</a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}

    {% if company.id and company.contacts.length == 0 %}
      <div id="tab-error-interactions" class="tabs-errors">
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            Add related company contacts before adding a new interaction
          </h1>
          <p>
            You need to add the related contacts from the company under contacts section before
            adding a new interaction
          </p>
          <ul class="error-summary-list">
            <li>
              <a href="/contact/add?company_id={{ company.id }}">Add new contact</a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}
    <nav class="tabs-nav">
      <ul class="tabs-list">
        <li>
          <a class="is-selected" id="tab-details" href="#tab-content-details">Details</a>
        </li>
        <li>
          <a id="tab-contacts" href="#tab-content-contacts">Contacts</a>
        </li>
        <li>
          <a id="tab-interactions" href="#tab-content-interactions">Interactions</a>
        </li>
      </ul>
    </nav>
    <div class="tabs-content">
      <div id="tab-content-details" class="tabs-panel">
        <div class="tabs-panel-inner">
          {% include "company/company-details.html" %}
        </div>
      </div>
      <div id="tab-content-contacts" class="tabs-panel">
        <div class="tabs-panel-inner">
          {% include "company/company-contacts.html" %}
        </div>
      </div>
      <div id="tab-content-interactions" class="tabs-panel">
        <div class="tabs-panel-inner">
          {% include "company/company-interactions.html" %}
        </div>
      </div>
    </div>
  </div>

  <script>
    var company = {{ company | stringify | safe }};
    var contacts = {{ company.contacts | stringify | safe }};
    var interactions = {{ company.interactions |stringify | safe }};
  </script>
  <script src="{{ asset_path }}javascripts/company.bundle.js"></script>
{% endblock %}
