{% extends "../layouts/ukti-search-header.html" %}
{% import "macros/forms.html" as forms %}

{% block main %}
  <a class="back-link" href='/search?query={{query}}'>Back to search</a>

  <h1 class="heading-xlarge record-title">
    {{ company.title }}
    {% if company.source == 'Department of International Trade' %}
      <span class="status-badge status-badge--dit">DIT</span>
    {% endif %}
    {% if company.source == 'Companies House' %}
      <span class="status-badge status-badge--ch">CH</span>
    {% endif %}
  </h1>

  {{ forms.errorPanel(errors) }}

  <div class="tabs tabs--inline js-tabs">
    {% if not company.uktidata %}
      <div id="tab-error-contacts" class="tabs-errors">
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            Complete company profile details before adding a new contact
          </h1>
          <p>
            You need to add required details to company profile before adding a new contact
          </p>
          <ul class="error-summary-list">
            <li>
            <a href="/companies/{{ company.id }}?query={{ query }}">Add company details</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="tab-error-interactions" class="tabs-errors">
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            Add related company contacts before adding a new interaction
          </h1>
          <p>
            You need to add the related contacts from the company under contacts section before
            adding a new interaction
          </p>
          <ul class="error-summary-list">
            <li>
              <a href="/companies/{{ company.id }}/contact/add?query={{ query }}">Add new contact</a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}

    {% if company.uktidata == true and not company.contacts %}
      <div id="tab-error-interactions" class="tabs-errors">
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            Add related company contacts before adding a new interaction
          </h1>
          <p>
            You need to add the related contacts from the company under contacts section before
            adding a new interaction
          </p>
          <ul class="error-summary-list">
            <li>
              <a href="/companies/{{ company.id }}/contact/add?query={{ query }}">Add new contact</a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}
    <nav class="tabs-nav">
      <ul class="tabs-list">
        <li>
          <a class="is-selected" id="tab-details" href="#tab-content-details">Details</a>
        </li>
        <li>
          <a id="tab-contacts" href="#tab-content-contacts">Contacts</a>
        </li>
        <li>
          <a id="tab-interactions" href="#tab-content-interactions">Interactions</a>
        </li>
      </ul>
    </nav>
    <div class="tabs-content">
      <div id="tab-content-details" class="tabs-panel">
        <div class="tabs-panel-inner">
          {% include "company/company-details.html" %}
        </div>
      </div>
      <div id="tab-content-contacts" class="tabs-panel">
        <div class="tabs-panel-inner">
          {% include "company/company-contacts.html" %}
        </div>
      </div>
      <div id="tab-content-interactions" class="tabs-panel">
        <div class="tabs-panel-inner">
          {% include "company/company-interactions.html" %}
        </div>
      </div>
    </div>
  </div>

  <script>
    var company = {{ company|stringify|safe }};
    var query = {{ query|stringify|safe }};
    var interactions = {{ expandedInteractions|stringify|safe }}
  </script>
  <script src="{{ asset_path }}javascripts/common.js"></script>
  <script src="{{ asset_path }}javascripts/company.bundle.js"></script>
{% endblock %}
