{% import "macros/forms.html" as forms %}
<form method="post">

  <input type="hidden" name="id" value="{{ company.id }}"/>

  {% if not company.company_number or company.comany_number.length == 0%}
    {{ forms.textbox('title',
    label="Registered business name",
    hint="Provide the registered name of the company.",
    value=formData.registered_name,
    error=errors.registered_name)
    }}

    {{ forms.yesNo('uk_based',
    label="Is the business based in the UK?",
    radioValue=formData.uk_based,
    error=errors.uk_based)
    }}

    {{ forms.dropdown('type_of_business',
    label="Type of business",
    emptyLabel="Select a value",
    value=formData.type_of_business,
    options=TYPES_OF_BUSINESS,
    error=errors.type_of_business)
    }}

    {{ forms.address('registered_address',
    label="Registered office address",
    value=formData.registered_address,
    optionalNonUk='yes',
    optional='no',
    error=errors.registered_address)
    }}

    <hr/>
  {% else %}
    <input type="hidden" name="company_number" value="{{ company.ch.company_number }}"/>
    <input type="hidden" name="registered_name" value="{{ company.ch.company_name }}"/>
    <input type="hidden" name="type_of_business" value="{{ company.ch.company_category }}"/>
  {% endif %}


  {{ forms.textbox('trading_name',
    label="Trading name (optional)",
    hint="Provide the name the company trades as if this differs from it’s registered name.",
    value=formData.trading_name,
    error=errors.trading_name)
  }}

  {{ forms.addAnotherDropdown('sectors',
    label="Sector",
    addLabel="sector",
    emptyLabel="Select sector to add",
    values=formData.sectors,
    options=SECTOR_OPTIONS,
    error=errors.sectors)
  }}
  {{ forms.textbox('website', label="Website (optional)", value=formData.website, error=errors.website) }}
  {{ forms.textarea('business_description', label="Business description (optional)", value=formData.business_description, error=errors.business_description) }}

  {{ forms.dropdown('number_of_employees',
    label="Number of employees (optional)",
    emptyLabel="Select a value",
    value=formData.number_of_employees,
    options=EMPLOYEE_OPTIONS,
    error=errors.number_of_emplyees)
  }}

  {{ forms.dropdown('annual_turnover',
    label="Annual turnover (optional)",
    emptyLabel="Select a value",
    value=formData.annual_turnover,
    options=TURNOVER_OPTIONS,
    error=errors.annual_turnover)
  }}

  {% if formData.trading_address and formData.trading_address.country and formData.trading_address.country.length > 0 or errors.trading_address %}
    {% set useCompaniesHouseAddress = 'No' %}
  {% else %}
    {% set useCompaniesHouseAddress = 'Yes' %}
  {% endif %}

  {% call forms.yesNoHidden('useCompaniesHouseAddress', label="Is the trading address the same as the registered office address?", radioValue=useCompaniesHouseAddress, revealFor="No") -%}
    {{ forms.address('trading_address', label="Trading address", value=formData.trading_address, optionalNonUk='yes', optional='yes', error=errors.trading_address) }}
  {%- endcall %}

  {{ forms.dropdown('region',
    label="Region",
    emptyLabel="Select a region",
    value=formData.region,
    options=REGION_OPTIONS,
    error=errors.region)
  }}

  {% if formData.account_manager and formData.account_manager.length > 0 or errors.account_manager %}
    {% set hasManager = 'Yes' %}
  {% else %}
    {% set hasManager = 'No' %}
  {% endif %}
  {% call forms.yesNoHidden('hasAccountManager', label="Is there an agreed DIT account manager for this company?", radioValue=hasManager, error=errors.accountManager) -%}
    {{ forms.autocomplete('account_manager',
      label="Account manager",
      value=formData.account_manager,
      options=ADVISOR_OPTIONS,
      error=errors.account_manager
    ) }}
  {%- endcall %}


  {% if formData.currently_exporting_to and formData.currently_exporting_to.length > 0 or errors.currently_exporting_to %}
    {% set hasExportingMarkets = 'Yes' %}
  {% else %}
    {% set hasExportingMarkets = 'No' %}
  {% endif %}
  {% call forms.yesNoHidden('hasExportingMarkets', label="Is this company curently exporting to a market?", radioValue=hasExportingMarkets, error=errors.currently_exporting_to) -%}
    {{ forms.addAnotherAutocomplete('currently_exporting_to',
      label="Export market",
      addLabel="country",
      values=formData.currently_exporting_to,
      options=countrys,
      error=errors.currently_exporting_to
    ) }}
  {%- endcall %}

  {{ forms.addAnotherAutocomplete('countries_of_interest',
    label="Future countries of interest (optional)",
    addLabel="country",
    values=formData.countries_of_interest,
    options=countrys,
    error=errors.countries_of_interest
  ) }}

  {{ forms.addAnotherAutocomplete('connections',
    label="Company connections (optional)",
    addLabel="company connection",
    values=formData.connections,
    options_url="/api/suggest?query=",
    error=errors.connections
  ) }}

  {{ forms.save(backUrl="#") }}

</form>
