<table class="table-detail table-detail--readonly">
  <tbody>
  <tr class="table-detail--readonly__section">
    <td rowspan="6" class="spacer">&nbsp;</td>
    <th>Company number</th>
    <td class="data">{{ company.company_number }}</td>
  </tr>
  <tr class="table-detail--readonly__section">
    <th>Registered office address</th>
    <td class="meta--address">{{ company.ch.registered_address_address_1 | lower }},
      {{ company.ch.registered_address_address_2 | lower }},
      {{ company.ch.registered_address_town | lower }},
      <span class="meta--address__postcode">{{ company.ch.registered_address_postcode }}</span>
    </td>
  </tr>
  <tr>
    <th>Company type</th>
    <td>{{ company.ch.company_category }}</td>
  </tr>
  <tr class="table-detail--readonly__section">
    <th>Company status</th>
    <td>{{ company.ch.company_status }}</td>
  </tr>
  <tr class="table-detail--readonly__section">
    <th>Nature of business (SIC)</th>
    <td>
      {% if company.ch.sic_code_1 %}
        {{ company.ch.sic_code_1 }}
      {% endif %}
      {% if company.ch.sic_code_2 %}
        <br/>{{ company.ch.sic_code_2 }}
      {% endif %}
      {% if company.ch.sic_code_3 %}
        <br/>{{ company.ch.sic_code_3 }}
      {% endif %}
      {% if company.ch.sic_code_4 %}
        <br/>{{ company.ch.sic_code_4 }}
      {% endif %}
    </td>
  </tr>
  </tbody>
</table>
