{% if company.interactions and company.interactions.length > 0 %}
  <div class="grid-row">
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge data__title">3</h2>
        <p class="bold-xsmall data__description">months since last interaction with UKTI</p>
      </div>
    </div>
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge data__title">8</h2>
        <p class="bold-xsmall data__description">interactions added in the last 12 months.</p>
      </div>
    </div>
    <div class="column-one-third">
      <p class="actions">
        <a class="button button-secondary" href="/companies/{{ company.id }}/interaction/add?query={{ query }}">Add new interaction</a>
      </p>
    </div>
  </div>

  <ol class="lined-list">
    {% for interaction in expandedInteractions %}
      <li class="lined-list__item">
        <h3 class="badged-heading">
          <a href="/companies/{{ company.id }}/interaction/view/{{ interaction.id }}?query={{ query }}">{{ interaction.subject }}</a>
        </h3>
        <div class="grid-row">
          <div class="column-two-thirds">
            <dl class="fieldvalue">
              <dt class="fieldvalue__title">Company contact:</dt>
              <dd class="fieldvalue__value"><a href="/companies/{{ company.id }}/contact/view/{{ interaction.contact.id }}?query={{ query }}">{{ interaction.contact.firstname }} {{ interaction.contact.lastname }}</a></dd>
              <dt class="fieldvalue__title">UKTI advisor:</dt>
              <dd class="fieldvalue__value">{{ interaction.advisor }}</dd>
            </dl>
          </div>
          <div class="column-one-third u-align-right">
            <div>{{ interaction.date }}</div>
            <div>{{ interaction.type }}</div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ol>
  <a href="#">View more interactions</a>
{% elif company.status != 'Prospect' or company.website and company.website.length >  0 and company.contacts.length > 0 %}
  <p class="actions">
    <a class="button button-secondary" href="/companies/{{ company.id }}/interaction/add?query={{ query }}">Add new interaction</a>
  </p>
{% endif %}
