{% if company.uktidata == true %}
<p class="actions">
  <a class="button button-secondary" href="/companies/{{ company.id }}/contact/add?query={{ query }}">Add new contact</a>
</p>
{% endif %}
<ol class="lined-list">
  {% for contact in company.contacts %}
    <li class="lined-list__item">
      <h3 class="badged-heading">
        <a href="/companies/{{ company.id }}/contact/view/{{ contact.id}}?query={{ query }}">{{ contact.firstname }} {{ contact.lastname }}</a>
        - {{ contact.occupation }}
        {% if contact.primaryContact %}
          <span class="status-badge status-badge--primary-contact">Primary</span>
        {% endif %}
      </h3>
      <div class="grid-row">
        <div class="column-half">
          <dl class="fieldvalue">
            <dt class="fieldvalue__title">Phone:</dt>
            <dd class="fieldvalue__value">{{ contact.telephonenumber }}</dd>
          </dl>
        </div>
        <div class="column-half">
          <dl class="fieldvalue">
            <dt class="fieldvalue__title">Email:</dt>
            <dd class="fieldvalue__value">
              <a href="mailto:{{ contact.emailaddress }}">{{ contact.emailaddress }}</a>
            </dd>
          </dl>
        </div>
      </div>
    </li>
  {% endfor %}
</ol>
