{% import "macros/forms.html" as forms %}

<form method="post">
  {{ forms.addAnotherDropdown('sectors',
    label="Sector",
    addLabel="sector",
    emptyLabel="Select sector to add",
    values=company.sectors,
    options=SECTOR_OPTIONS,
    error=errors.sectors)
  }}
  {{ forms.textbox('website', label="Website", value=company.website, error=errors.website) }}
  {{ forms.textarea('businessDescription', label="Business description (optional)", value=company.businessDescription, error=errors.businessDescription) }}

  {{ forms.dropdown('region',
    label="Region",
    emptyLabel="Select a region",
    value=company.region,
    options=REGION_OPTIONS,
    error=errors.region)
  }}

  {% if formData.operatingAddress and formData.operatingAddress.address1 and formData.operatingAddress.address1.length > 0 or errors.errors.operatingAddress_address1 %}
    {% set hasOperatingAddress = 'Yes' %}
  {% else %}
    {% set hasOperatingAddress = 'No' %}
  {% endif %}
  {% call forms.yesNoHidden('hasOperatingAddress', label="Is the operating address different from Companies House registered office address?", radioValue=hasOperatingAddress, error=errors.operatingAddress_address1) -%}
    {{ forms.address('operatingAddress', label="Operating address", value=formData.operatingAddress, error=errors.operatingAddress_address1) }}
  {%- endcall %}

  {% if formData.accountManager and formData.accountManager.length > 0 or errors.accountManager %}
    {% set hasManager = 'Yes' %}
  {% else %}
    {% set hasManager = 'No' %}
  {% endif %}
  {% call forms.yesNoHidden('hasAccountManager', label="Is there an agreed UKTI account manager for this company?", radioValue=hasManager, error=errors.accountManager) -%}
    {{ forms.autocomplete('accountManager',
      label="Account manager",
      value=formData.accountManager,
      options=ADVISOR_OPTIONS,
      error=errors.accountManager
    ) }}
  {%- endcall %}


  {% if formData.exportingMarkets and formData.exportingMarkets.length > 0 or errors.exportingMarkets %}
    {% set hasExportingMarkets = 'Yes' %}
  {% else %}
    {% set hasExportingMarkets = 'No' %}
  {% endif %}
  {% call forms.yesNoHidden('hasExportingMarkets', label="Is this company curently exporting to a market?", radioValue=hasExportingMarkets, error=errors.exportingMarkets) -%}
    {{ forms.addAnotherAutocomplete('exportingMarkets',
      label="Export market",
      addLabel="country",
      values=formData.exportingMarkets,
      options=countrys,
      error=errors.exportingMarkets
    ) }}
  {%- endcall %}

  {{ forms.addAnotherAutocomplete('countryOfInterest',
    label="Future countries of interest (optional)",
    addLabel="country",
    values=formData.countryOfInterest,
    options=countrys,
    error=errors.countryOfInterest
  ) }}

  {{ forms.addAnotherAutocomplete('connections',
    label="Company connections (optional)",
    addLabel="company connection",
    values=formData.connections,
    options_url="/api/suggest?query=",
    error=errors.connections
  ) }}

  {{ forms.save(backUrl="#") }}

</form>
