<table class="table-detail">
  <tbody>
  <tr>
    <th width="30%">Sectors</th>
    <td>{% for sector in company.sectors %}
      <div>{{ sector }}</div>
      {% endfor %}</td>
  </tr>
  <tr>
  <tr>
    <th>Website</th>
    <td>
      {% if company.website %}
        <a href="{{ company.website }}">{{ company.website }}</a>
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Business description</th>
    <td>{{ company.businessDescription }}</td>
  </tr>
  <tr>
    <th>Region</th>
    <td>{{ company.region }}</td>
  </tr>
  <tr>
    <th>Operating address</th>
    <td>
      {% if company.operatingAddress.address1.length > 0 %}{{ company.operatingAddress.address1 }},{% endif %}
      {% if company.operatingAddress.address2.length > 0 %}{{ company.operatingAddress.address2 }},{% endif %}
      {% if company.operatingAddress.city.length > 0 %}{{ company.operatingAddress.city }},{% endif %}
      {% if company.operatingAddress.postcode.length > 0 %}{{ company.operatingAddress.postcode }}{% endif %}
    </td>
  </tr>
  <tr>
    <th>Account manager</th>
    <td>{{ company.accountManager }}</td>
  </tr>
  <tr>
    <th>Is the company currently <br/>exporting to a market?</th>
    <td>
      {% if company.exportingMarkets and company.exportingMarkets.length > 0 %}
        Yes.
        {% for exportingMarket in company.exportingMarkets %}
          {{ exportingMarket }}
        {% endfor %}
      {% else %}
        No
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Future countries of interest</th>
    <td>
      {% if company.countryOfInterest %}
        {% for countryOfInterest in company.countryOfInterest %}
          <div>{{ countryOfInterest }}</div>
        {% endfor %}
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Company connections</th>
    <td>
      {% for connection in company.connections %}
        <div>{{ connection }}</div>
      {% endfor %}
    </td>
  </tr>
  </tbody>
</table>
