{% if company.ch and company.ch.company_number %}
  <table class="table-detail table-detail--readonly">
    <tbody>
    <tr class="table-detail--readonly__section">
      <td rowspan="6" class="spacer">&nbsp;</td>
      <th>Company number</th>
      <td class="data">{{ company.company_number }}</td>
    </tr>
    <tr class="table-detail--readonly__section">
      <th>Registered office address</th>
      <td class="meta--address">{{ company.ch.address_1 | lower }},
        {{ company.ch.address_2 | lower }},
        {{ company.ch.address_town | lower }},
        <span class="meta--address__postcode">{{ company.ch.address_postcode }}</span>
      </td>
    </tr>
    <tr>
      <th>Company type</th>
      <td>{{ company.ch.company_category }}</td>
    </tr>
    <tr class="table-detail--readonly__section">
      <th>Company status</th>
      <td>{{ company.ch.company_status }}</td>
    </tr>
    <tr class="table-detail--readonly__section">
      <th>Nature of business (SIC)</th>
      <td>
        {% if company.ch.sic_code_1 %}
          {{ company.ch.sic_code_1 }}
        {% endif %}
        {% if company.ch.sic_code_2 %}
          <br/>{{ company.ch.sic_code_2 }}
        {% endif %}
        {% if company.ch.sic_code_3 %}
          <br/>{{ company.ch.sic_code_3 }}
        {% endif %}
        {% if company.ch.sic_code_4 %}
          <br/>{{ company.ch.sic_code_4 }}
        {% endif %}
      </td>
    </tr>
    </tbody>
  </table>
{% endif %}
<div class="js-hidden-edit{% if errors %} js-hidden-edit-open{% endif %}">
  <div class="js-view-data">
    <table class="table-detail">
      <tbody>
      {% if not company.ch and not company.ch.company_number %}
        <tr>
          {% if not company.company_number or company.company_number.length == 0%}
            <th>Company address</th>
          {% else %}
            <th>Trading address</th>
          {% endif %}
          <td>
            {% if company.address_1.length > 0 %}{{ company.address_1 }},{% endif %}
            {% if company.address_2.length > 0 %}{{ company.address_2 }},{% endif %}
            {% if company.address_town.length > 0 %}{{ company.address_town }},{% endif %}
            {% if company.address_county.length > 0 %}{{ company.address_county }}{% endif %}
            {% if company.address_postcode.length > 0 %}{{ company.address_postcode }}{% endif %}
            {% if companyaddress_country.length > 0 %}{{ company.address_country }}{% endif %}
          </td>
        </tr>
        <tr>
          <th>Company type</th>
          <td>{{ company.business_type.name }}</td>
        </tr>
      {% endif %}
      <tr>
        <th>Sector</th>
        <td>{{ company.sector.name }}
        </td>
      </tr>
      <tr>
        <th>Website</th>
        <td>
          {% if company.website %}
            <a href="{{ company.website }}">{{ company.website }}</a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Business description</th>
        <td>{{ company.description }}</td>
      </tr>
      <tr>
        <th>Number of employees</th>
        <td>{{ company.employee_range.name }}</td>
      </tr>
      <tr>
        <th>Annual turnover</th>
        <td>{{ company.turnover_range.name }}</td>
      </tr>

      <tr>
        <th>Region</th>
        <td>{{ company.uk_region.name }}</td>
      </tr>
      <tr>
        <th>Account manager</th>
        <td>{{ company.account_manager }}</td>
      </tr>
      <tr>
        <th>Is the company currently <br/>exporting to a market?</th>
        <td>
          {% if company.currently_exporting_to and company.currently_exporting_to.length > 0 %}
            Yes.
            {% for exportingMarket in company.currently_exporting_to %}
              {{ exportingMarket }}
            {% endfor %}
            {% elif company.uktidata %}
            No
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Future countries of interest</th>
        <td>
          {% if company.countries_of_interest %}
            {% for countryOfInterest in company.countries_of_interest %}
              <div>{{ countryOfInterest }}</div>
            {% endfor %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Company connections</th>
        <td>
          {% for connection in company.connections %}
            <div>{{ connection }}</div>
          {% endfor %}
        </td>
      </tr>
      </tbody>
    </table>
    <div class="button-bar">
      {% if not company.id %}
        <a href="#" class="button button-secondary js-button-edit">Edit company details</a>
      {% else  %}
        {% if not company.archive_date %}
          <a href="#" class="button button-secondary js-button-edit">Edit company details</a>
          <a href="#" id="archive-reveal-button" class="button button-secondary">Archive company</a>
        {% else %}
          <a class="button button-disabled">Edit company details</a>
          <a href="/company/{{ company.id }}/unarchive" class="button button-secondary">Unarchive now</a>
        {% endif %}
      {% endif %}
    </div>

  </div>
  <div class="js-view-edit">
    {% include "./company-edit.html" %}
  </div>
</div>
