<form method="post">
  <div class="form-group{% if errors and errors.type %} error{% endif %}" id="type-wrapper">
    <label class="form-label" for="type">
      Interaction type
      {% if errors and errors.type %}<span class="error-message">{{ errors.type }}</span>{% endif %}
    </label>
    <input id="type" class="form-control" name="type" value="{{ interaction.type }}" />
  </div>
  <div class="form-group{% if errors and errors.subject %} error{% endif %}" id="subject-wrapper">
    <label class="form-label" for="subject">
      Subject
      {% if errors and errors.subject %}<span class="error-message">{{ errors.subject }}</span>{% endif %}
    </label>
    <input id="subject" class="form-control" name="subject" value="{{ interaction.subject }}" />
  </div>
  <div class="form-group{% if errors and errors.date %} error{% endif %}" id="date-wrapper">
    <label class="form-label" for="date">
      Date of interaction
      {% if errors and errors.date %}<span class="error-message">{{ errors.date }}</span>{% endif %}
    </label>
    <input id="date" class="form-control" name="date" value="{{ interaction.date }}" />
  </div>
  <div class="form-group{% if errors and errors.contactName %} error{% endif %}" id="contactName-wrapper">
    <label class="form-label" for="contact">
      Company contact
      {% if errors and errors.contactName %}<span class="error-message">{{ errors.contactName }}</span>{% endif %}
    </label>
    <input id="contact" class="form-control" name="contactName" value="{{ interaction.contact.name }}" />
  </div>
  <input type="hidden" name="contactId" value="{{ interaction.contact.id }}"/>
  <div class="form-group{% if errors and errors.advisor %} error{% endif %}" id="advisor-wrapper">
    <label class="form-label" for="advisor">
      UKTI advisor
      {% if errors and errors.advisor %}<span class="error-message">{{ errors.advisor }}</span>{% endif %}
    </label>
    <input id="advisor" class="form-control" name="advisor" value="{{ interaction.advisor }}" />
  </div>
  <div class="form-group">
    <label class="form-label" for="notes">Interaction notes (optional)</label>
    <textarea id="notes" class="form-control" name="notes" rows="5">{{ interaction.notes }}</textarea>
  </div>
  <div class="form-group{% if errors and errors.serviceOffer %} error{% endif %}" id="serviceOffer-wrapper">
    <label class="form-label" for="serviceOffer">
      Service offer
      {% if errors and errors.serviceOffer %}<span class="error-message">{{ errors.serviceOffer }}</span>{% endif %}
    </label>
    <input id="serviceOffer" class="form-control" name="serviceOffer" value="{{ interaction.serviceOffer }}" />
  </div>
  <div class="form-group{% if errors and errors.serviceProvider %} error{% endif %}" id="serviceProvider-wrapper">
    <label class="form-label" for="serviceProvider">
      Service provider
      {% if errors and errors.serviceProvider %}<span class="error-message">{{ errors.serviceProvider }}</span>{% endif %}
    </label>
    <input id="serviceProvider" class="form-control" name="serviceProvider" value="{{ interaction.serviceProvider }}" />
  </div>
  <div class="button-bar">
    <button class="button button--save" type="submit">Save</button>
    <a class="button-link button--cancel js-button-cancel" href="{{ backUrl }}">Cancel</a>
  </div>
</form>
