{% extends "../layouts/ukti-search-header.html" %}

{% block main %}
  {% if interaction.contactId %}
    <a class="back-link" href="/companies/{{ company.id }}/contact/view/{{ interaction.contactId }}?query={{ query }}#interactions">Back to contact</a>
  {% else %}
    <a class="back-link" href="/companies/{{ company.id }}?query={{query}}#interactions">Back to company</a>
  {% endif %}

  {% include '../components/errors.html' %}

  <h1 class="heading-xlarge record-title">
    Add interaction details
  </h1>

  <h2 class="heading-small">Company</h2>
  <p>
    <a href="/companies/{{ company.id }}?query={{ query }}">{{ company.title }}</a>
  </p>
  {%  include './interaction-form.html' %}

{% endblock %}
