{% extends "../layouts/ukti-search-header.html" %}

{% block main %}
  <a class="back-link" href="/companies/{{ company.id }}/interaction/view/{{ interaction.id }}?query={{ query }}">Back to interaction</a>

  {% include '../components/errors.html' %}

  <h1 class="heading-xlarge record-title">
    Edit interaction details
  </h1>

  <h2 class="heading-small">Company</h2>
  <p>
    <a href="/companies/{{ company.id }}?query={{ query }}">{{ company.title }}</a>
  </p>
  {%  include './interaction-form.html' %}

{% endblock %}
