{% import "../components/forms.html" as forms %}
{{ INTERACTION_TYPES | log | safe }}
<form method="post">
  {{ forms.dropdown('type',
    label="InteractionType",
    emptyLabel="Select an interaction type",
    value=interaction.type,
    options=INTERACTION_TYPES,
    error=errors.type) }}

  {{ forms.textbox('subject', label="Subject", value=interaction.subject, error=errors.subject) }}
  {{ forms.textbox('date', label="Date of interaction", value=interaction.date, error=errors.date) }}

  {{ forms.dropdown('contactId',
    label="Company contact",
    emptyLabel="Select a company contact",
    value=interaction.contactId,
    options=contactOptions,
    error=errors.contactId
  ) }}

  {{ forms.dropdown('advisor',
    label="UKTI advisor",
    emptyLabel="Please select the UKTI advisor",
    value=interaction.advisor,
    options=ADVISORS,
    error=errors.advisor
  ) }}

  {{ forms.textarea('notes', label="Interaction notes (optional)", value=interaction.notes, error=errors.notes) }}
  {{ forms.textbox('serviceOffer', label="Service offer", value=interaction.serviceOffer, error=errors.serviceOffer) }}
  {{ forms.textbox('serviceProvider', label="Service provider", value=interaction.serviceProvider, error=errors.serviceProvider) }}

  <div class="button-bar">
    <button class="button button--save" type="submit">Save</button>
    <a class="button-link button--cancel js-button-cancel" href="{{ backUrl }}">Cancel</a>
  </div>
</form>
