{% extends "../layouts/ukti-search-header.html" %}

{% block main %}
  {% if interaction.contact and interaction.contact.id %}
    <a class="back-link" href="/companies/{{ interaction.company.id }}/contact/view/{{ interaction.contact.id }}?query={{ query }}#interactions">Back to contact</a>
  {% else %}
    <a class="back-link" href="/companies/{{ interaction.company.id }}?query={{query}}#interactions">Back to company</a>
  {% endif %}

  {% include '../components/errors.html' %}

  <h1 class="heading-xlarge record-title">
    Edit interaction details
  </h1>

  <h2 class="heading-small">Company</h2>
  <p>
    <a href="/companies/{{ interaction.company.id }}?query={{ query }}">{{ interaction.company.title }}</a>
  </p>
  {%  include './interaction-form.html' %}

{% endblock %}
