<table class="table-detail">
  <tbody>
    <tr>
      <th width="30%">Company</th>
      <td><a href="/company/DIT/{{ contact.company.id }}">{{ contact.company.registered_name }}</a></td>
    </tr>
    <tr>
    <tr>
      <th>Title</th>
      <td>{{ contact.title }}</td>
    </tr>
    <tr>
      <th>Role</th>
      <td>{{ contact.role }}</td>
    </tr>
    {% if contact.primary_contact_team %}
      <tr>
        <th>Teams</th>
        <td>
          {% for primaryTeam in contact.primary_contact_team %}
            <div>{{ primaryTeam }}</div>
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <th>Phone number</th>
      <td>{{ contact.phone }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ contact.email }}</td>
    </tr>
    {% if contact.address_1 %}
      <tr>
        <th>Address</th>
        <td>
          {{ contact.address_1 }}, {% if contact.address_2 %}{{ contact.address_2 }},{% endif %} {{ contact.address_town }}, {{ contact.address_postcode }}
        </td>
      </tr>
    {% endif %}
    <tr>
      <th>Alternative phone</th>
      <td>{{ contact.alt_phone }}</td>
    </tr>
    <tr>
      <th>Alternative email</th>
      <td>{{ contact.alt_email }}</td>
    </tr>
    <tr>
      <th>Notes</th>
      <td>{{ contact.notes }}</td>
    </tr>
  </tbody>
</table>

<a href="/contact/{{ contact.id }}/edit" class="button button-secondary">Edit contact details</a>
