<form method="post">

  <div class="form-group">
    <label class="form-label" for="title">Title (optional)</label>
    <input id="title" class="form-control" name="title" value="{{ contact.title }}" />
  </div>
  <div class="form-group{% if errors and errors.name %} error{% endif %}" id="name-wrapper">
    <label class="form-label" for="name">
      Full name
      {% if errors and errors.name %}<span class="error-message">{{ errors.name }}</span>{% endif %}
    </label>
    <input id="name" class="form-control" name="name" value="{{ contact.name }}" />
  </div>
  <div class="form-group{% if errors and errors.occupation %} error{% endif %}" id="occupation-wrapper">
    <label class="form-label" for="occupation">
      Role
      {% if errors and errors.occupation %}<span class="error-message">{{ errors.occupation }}</span>{% endif %}
    </label>
    <input id="occupation" class="form-control" name="occupation" value="{{ contact.occupation }}" />
  </div>

  <fieldset class="inline form-group form-group__checkbox-group">

    <legend class="form-label">Is this person a primary contact?</legend>

    <label class="block-label" for="isPrimaryContactYes">
      <input id="isPrimaryContactYes"
             type="radio"
             name="primaryContact"
             value="Yes" {% if contact.primaryContact %}checked="true"{% endif %}>
      Yes
    </label>
    <label class="block-label" for="isPrimaryContactNo">
      <input id="isPrimaryContactNo"
             type="radio"
             name="primaryContact"
             {% if not contact.primaryContact %}checked="true"{% endif %}value="No">
      No
    </label>
  </fieldset>

  <div class="form-group{% if errors and errors.telephonenumber %} error{% endif %}" id="telephonenumber-wrapper">
    <label class="form-label" for="telephonenumber">
      Phone
      {% if errors and errors.telephonenumber %}<span class="error-message">{{ errors.telephonenumber }}</span>{% endif %}
    </label>
    <input id="telephonenumber" class="form-control" name="telephonenumber" value="{{ contact.telephonenumber }}" />
  </div>
  <div class="form-group{% if errors and errors.emailaddress %} error{% endif %}" id="emailaddress-wrapper">
    <label class="form-label" for="emailaddress">
      Email
      {% if errors and errors.emailaddress %}<span class="error-message">{{ errors.emailaddress }}</span>{% endif %}
    </label>
    <input id="emailaddress" class="form-control" name="emailaddress" value="{{ contact.emailaddress }}" />
  </div>
  <div class="form-group{% if errors and errors.streetaddress %} error{% endif %}" id="streetaddress-wrapper">
    <label class="form-label" for="streetaddress">
      Address
      {% if errors and errors.streetaddress %}<span class="error-message">{{ errors.streetaddress }}</span>{% endif %}
    </label>
    <input id="streetaddress" class="form-control" name="streetaddress" value="{{ contact.streetaddress }}" />
    <input id="city" class="form-control" name="city" value="{{ contact.city }}" />
    <input id="zipcode" class="form-control" name="zipcode" value="{{ contact.zipcode }}" />
  </div>
  <div class="form-group">
    <label class="form-label" for="alternativeTelephonenumber">Alternative phone (optional)</label>
    <input id="alternativeTelephonenumber" class="form-control" name="alternativeTelephonenumber" value="{{ contact.alternativeTelephonenumber }}" />
  </div>
  <div class="form-group">
    <label class="form-label" for="alternativeEmailaddress">Alternative email (optional)</label>
    <input id="alternativeEmailaddress" class="form-control" name="alternativeEmailaddress" value="{{ contact.alternativeEmailaddress }}" />
  </div>
  <div class="form-group">
    <label class="form-label" for="notes">Notes (optional)</label>
    <textarea id="notes" class="form-control" name="notes" rows="5">{{ contact.notes }}</textarea>
  </div>

  <div class="button-bar">
    <button class="button button--save" type="submit">Save</button>
    <a class="button-link button--cancel js-button-cancel" href="{{ backUrl }}">Cancel</a>
  </div>
</form>
