{% extends "../layouts/ukti-search-header.html" %}
{% import "macros/forms.html" as forms %}

{% block main %}

  {% if contact.id %}
    {% set backUrl = "/companies/" + company.id + "/contact/view/" + contact.id + "?query=" + query %}
    <a class="back-link" href="{{ backUrl }}">Back to contact</a>
    {{ forms.errorPanel(errors) }}
    <h1 class="heading-xlarge record-title">Edit contact details</h1>
  {% else %}
    {% set backUrl = "/companies/" +  company.id + "?query=" + query + "#contacts" %}
    <a class="back-link" href="{{ backUrl }}">Back to company</a>
    {{ forms.errorPanel(errors) }}
    <h1 class="heading-xlarge record-title">Add contact</h1>
  {% endif %}

  <form method="post">
    <div class="form-section form-section--compact">{{ forms.textbox('title', label="Title (optional)", value=contact.title, error=errors.title) }}
      {{ forms.textbox('firstname', label="First name", value=contact.firstname, error=errors.firstname) }}
      {{ forms.textbox('lastname', label="Last name", value=contact.lastname, error=errors.lastname) }}
      {{ forms.textbox('occupation', label="Role", value=contact.occupation, error=errors.occupation) }}
      {% call forms.yesNoHidden('primaryContact', label="Is this person a primary contact?", radioValue=contact.primaryContact, error=errors.primaryContact) -%}
        {{ forms.addAnotherDropdown('primaryContactTeam',
          label="Team name",
          addLabel="team",
          hint="Provide the name of the team for which this contact is listed as a primary contact",
          emptyLabel="Select a team",
          values=contact.primaryContactTeam,
          options=TEAM_OPTIONS,
          error=errors.primaryContactTeam)
        }}
      {%- endcall %}
      {{ forms.textbox('telephonenumber', label="Phone", value=contact.telephonenumber, error=errors.telephonenumber) }}
      {{ forms.textbox('emailaddress', label="Email address", value=contact.emailaddress, error=errors.emailaddress) }}
    </div>

    {% if contact.address and contact.address.country and contact.address.country.length > 0 or errors.contactAddress %}
      {% set useCompanyAddress = 'No' %}
    {% else %}
      {% set useCompanyAddress = 'Yes' %}
    {% endif %}
    {% call forms.yesNoHidden('useCompanyAddress', label="Is the contact’s address the same as the company address?", radioValue=useCompanyAddress, revealFor="No") -%}
      {{ forms.address('address', label="Address", value=contact.address, optionalNonUk='yes', optional='yes', error=errors.address) }}
    {%- endcall %}

    <div class="form-section form-section--compact">
      {{ forms.textbox('alternativeTelephonenumber', label="Alternative phone (optional)", value=contact.alternativeTelephonenumber, error=errors.alternativeTelephonenumber) }}
      {{ forms.textbox('alternativeEmailaddress', label="Alternative email (optional)", value=contact.alternativeEmailaddress, error=errors.alternativeEmailaddress) }}
      {{ forms.textarea('notes', label="Notes (optional)", value=contact.notes, error=errors.notes) }}
    </div>
    {{ forms.save(backUrl=backUrl) }}

  </form>
{% endblock %}
