<table class="table-detail">
  <tbody>
    <tr>
      <th width="30%">Company</th>
      <td><a href="/company/DIT/{{ contact.company.id }}">{{ contact.company.name }}</a></td>
    </tr>
    <tr>
    <tr>
      <th>Title</th>
      <td>{{ contact.title.name }}</td>
    </tr>
    <tr>
      <th>Role</th>
      <td>{{ contact.role.name }}</td>
    </tr>
    {% if contact.teams and contact.teams.length > 0 %}
      <tr>
        <th>Teams</th>
        <td>
          {% for team in contact.teams %}
            <div>{{ team.name }}</div>
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <th>Phone number</th>
      <td>{{ contact.telephone_number }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ contact.email }}</td>
    </tr>
    {% if contact.address_1 %}
      <tr>
        <th>Address</th>
        <td>
          {{ contact.address_1 }}, {% if contact.address_2 %}{{ contact.address_2 }},{% endif %} {{ contact.address_town }}, {{ contact.address_postcode }}
        </td>
      </tr>
    {% endif %}
    <tr>
      <th>Alternative phone</th>
      <td>{{ contact.telephone_alternative }}</td>
    </tr>
    <tr>
      <th>Alternative email</th>
      <td>{{ contact.email_alternative }}</td>
    </tr>
    <tr>
      <th>Notes</th>
      <td>{{ contact.notes }}</td>
    </tr>
  </tbody>
</table>

<div class="button-bar">
  {% if not contact.company.archived_on %}
    {% if not contact.archived_on %}
      <a href="/contact/{{ contact.id }}/edit" class="button button-secondary">Edit contact details</a>
      <a href="#" id="archive-reveal-button" class="button button-secondary">Archive contact</a>
    {% else %}
      <a class="button button-disabled">Edit contact details</a>
      <a href="/contact/{{ contact.id }}/unarchive" class="button button-secondary">Unarchive now</a>
    {% endif %}
  {% else %}
    {% if not contact.archived_on %}
      <a class="button button-disabled">Edit contact details</a>
      <a id="archive-reveal-button" class="button button-disabled">Archive contact</a>
    {% else %}
      <a class="button button-disabled">Edit contact details</a>
      <a class="button button-disabled">Unarchive now</a>
    {% endif %}
  {% endif %}
</div>
