---
title: Welcome to Middleman
---

<% content_for :page_title, 'Middleman' %>

<% content_for :proposition do %>
  <nav class="proposition-menu">
    <a href="#" class="proposition-name">Ministry of Justice</a>
  </nav>
<% end %>

<% content_for :global_subheader do %>
  <div class="subheader-item phase-banner">
    <span class="phase-tag phase-tag-beta">BETA</span>
    <div class="phase-banner-message">
      This is a new service – your <a href="#">feedback</a> will help us to improve it.
    </div>
  </div>
  <div class="subheader-item breadcrumbs">
    <nav>
      <ol>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/">Ministry of Justice</a>
        </li>
      </ol>
    </nav>
  </div>
<% end %>

<h1>An H1 heading</h1>

<p class="intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt atque, nulla corrupti vero soluta itaque <%= link_to 'nemo laborum', '#asdrqaa' %> quia cupiditate libero nisi illum provident, dolorem maxime praesentium impedit doloremque non numquam!</p>

<h2>An H2 heading</h2>

<p>Ex nihil voluptaria nec, magna <%= link_to 'signiferumque', '#asdrq' %> sed at. Modus iusto id est. Sit liber blandit repudiare ad. Usu et nibh munere. Id aeque adolescens eam. In pro autem apeirian, eum id tritani perfecto dissentias.</p>

<h3>An H3 heading</h3>

<p>Cu stet erant nostro sed, cu mei veritus deserunt incorrupte. Ei graece hendrerit necessitatibus vix, no epicurei incorrupte pri. Ad usu quis albucius scribentur. An pro brute utinam. Malorum suscipit nominati ut cum.</p>

<h4>An H4 heading</h4>

<p>More than half of the UK believes that childcare should be shared equally between parents, a survey by the Department for Business, Innovation and Skills has found.</p>
<p>Over half of men (57%) thought that being more involved in the baby’s life would be a good thing for their whole family, and around a third felt it would strengthen their relationship with their partner.</p>

<h5>An H5 heading</h5>

<p>Just under a quarter of those surveyed believe that childcare should be the mother’s main responsibility, with more than half of men thinking that childcare should be shared equally, compared to 50% of women.</p>

<table>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th class="numeric" scope="col">Paper form</th>
      <th class="numeric" scope="col">Digital</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>25 November to 1 December 2013</td>
      <td class="numeric">2,763</td>
      <td class="numeric">1,792</td>
    </tr>
    <tr>
      <td>2 to 8 December 2013</td>
      <td class="numeric">2,850</td>
      <td class="numeric">1,740</td>
    </tr>
    <tr>
     <td>9 to 15 December 2013</td>
      <td class="numeric">2,388</td>
      <td class="numeric">1,683</td>
    </tr>
  </tbody>
</table>
