{% extends "layouts/govuk_template.html" %}
{% import "macros/utils.html" as utils %}

{% set global_header_text="Datahub" %}
{% set homepage_url = "/" %}
{% set logo_link_title = "Go to Datahub homepage" %}


{% block head %}
  <link href="{{ asset_path }}stylesheets//application.css?{{ startTime }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

  <main id="content" role="main">
    <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    <div class="login-bar">
      Lee Smith: <a href="#">My account</a> | <a href="#">Sign out</a>
    </div>
    <div class="container">
      {% block main %}{% endblock %}
    </div>
  </main>
{% endblock %}

{% block body_end %}
  {{ utils.govstrap_scripts() }}
{% endblock %}
